<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springstudy.bbs.mapper.BoardMapper" >

	<select id="boardList" resultType="Board" resultMap="boardResultMap">
		SELECT 
			*
		FROM pc 
		ORDER BY no DESC
	</select>
	
	<select id="getBoard" resultType="Board" resultMap="boardResultMap">
		SELECT * FROM pc
		WHERE no = #{no}
	</select>
	
	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO pc(code, name, writer, price, ram, ssd, inch, desciption, pass)
		VALUES(#{code}, #{name}, #{writer}, #{price}, #{ram}, #{ssd}, #{inch}, #{desciption}, #{pass})
	</insert>
	
	<select id="isPassCheck" resultType="String">
		SELECT pass FROM pc
		WHERE no = #{no}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE pc
		SET price = #{price}, desciption = #{desciption}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM pc
		WHERE no = #{no}
	</delete>
	
	<select id="boardList" parameterType="hashmap" resultType="Board">
		SELECT no, code, name, writer, price, ram, ssd, inch, desciption, pass, file1 FROM pc
		ORDER BY no DESC
		LIMIT #{startRow}, #{num}
	</select>
	
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(no) FROM pc
	</select>
	
	<resultMap id="boardResultMap" type="Board">
		<id property="no" column="no" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="writer" column="writer" />
		<result property="price" column="price" />
		<result property="ram" column="ram" />
		<result property="ssd" column="ssd" />
		<result property="inch" column="inch" />
		<result property="desciption" column="desciption" />
		<result property="pass" column="pass" />
		<result property="file1" column="file1" />
	</resultMap>
</mapper>